.fone-coin{
    width: 100%;
    height: 650px;
    background-image: url(../../../../assets/imgs/HD-wallpaper-purple-wave-walldevil-black-colour-background-black-and-purple-black-background-abstract-purple-waves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main_text2 {
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
  
  }
  
  .home2 {
    font-size: 16px;
    color: #999696;
    font-weight: 300;
  }
  
  .home2:hover {
    color: rgb(95, 5, 115);
    transition: 0.6s;
  }
  
  .ss2 {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 300;
  }
  
  .pers2 {
    font-size: 16px;
    color: #999696;
    font-weight: 300;
  }
  
  .pers2:hover {
    color: rgb(144, 8, 139);
    transition: 0.6s;
  }
  
  /* Медиа-запросы для адаптивности */
  @media (max-width: 1200px) {
    .fone-perspective {
        height: 550px;
    }
    
    .main_text {
        font-size: 42px;
    }
  }
  
  @media (max-width: 992px) {
    .fone-perspective {
        height: 450px;
    }
    
    .main_text {
        font-size: 36px;
    }
    
    .ss {
        font-size: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .fone-perspective {
        height: 400px;
    }
    
    .main_text {
        font-size: 30px;
    }
    
    .home, .pers {
        font-size: 14px;
    }
    
    .ss {
        font-size: 18px;
    }
  }
  
  @media (max-width: 576px) {
    .fone-perspective {
        height: 350px;
    }
    
    .main_text {
        font-size: 24px;
    }
    
    .ss {
        font-size: 16px;
    }
  }
  
  @media (max-width: 400px) {
    .fone-perspective {
        height: 300px;
    }
    
    .main_text {
        font-size: 20px;
    }
  }
  